@media (max-width: 1228px) {
    body {
        background-color: #191816;
        width: 100vw;
        height: 100vh;
    }

    .bg-image {
        width: 100vw;
        height: 100vh;
    }

    header img {
        margin: 40px 20px 0 20px;
    }

    main {
        background-color: #191816;
        margin-top: 0;
        width: 375px;
    }

    input {
        background-color: #191816;
    }

    .information {
        margin-left: 20px;
        padding-left: 0;    
    }

    .information div {
        margin-top: 30px;
        margin-right: 20px;
    }

    .email {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 0;
    }

    .sign-in {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 0;
    }
}